@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.slide-weapon {
  position: absolute;
  font-size: 10rem;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left:10% ;
}

.img-weapon {
    margin: auto;
}