@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.slide-weapon {
  position: absolute;
  width: 50%;
  font-size: 10rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-weapon {
    margin: auto;
}