.map-card{
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.308);
}

.container{
    position: relative;
    width: 400px ;
    height: 250px;
}

.container .bg-map {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.container h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 3rem;
    color: white;
}

/*Détails des cartes*/

.map-det{
    overflow: hidden;
    min-height: 100%;
    height: auto;
    color: white;
}

.map-text {
    margin-bottom: 50px;
}

.bgtext {
    position: relative;
    width: 100%;
    height: 800px;
    margin: auto;
}

.bgtext img {
    width: 100%;
    height: 100%;
}

.container-text{
    position: absolute;
    top: 10%;
    right: 10%;
    height: auto;
    width: 350px;
    padding: 50px;
    background: #373A42;
    border-radius: 25px;
}

.container-text h1 {
    font-weight: bold;
}

.container-text p {
    font-size: 1.2rem;
}

/*plan de map*/

.map-plan {
    position: relative;
    height: 50%;
    width: 60%;
    margin: auto;
}

.map-plan img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}
