.status {
    position: fixed;
    height: 100%;
    width: 10%;
    background-image: url("../assets/banniereS.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}
  
.logo-valo{
    margin-top: 5px;
    width: 100%;
}

.nav {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

li, .nav-link {
    list-style-type: none;
    text-decoration: none;
    font-size: 1.4rem;
  }

.color-active{
    color:#FA4454 !important
}